#kk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(153, 0, 0 , 0.4);
}
#iiimg{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
}
#ver{
    margin-left: 5%;
    display: flex;
    gap: 20px;
}
button{
    position: absolute;
    /* display: flex; */
    width: 200px;
    height: 50px;
    background-color: tomato;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px red;
}
#no{
    right: 55%;
}
#yes{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}