*{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-weight: lighter;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :5px;
    scale: 2;
    padding: 20%;
}
input{
    border: solid black;
    border-radius: 40px;
}
button{
    border: none;
    border-radius: 65%;
    width: 100px;
    background-color: #ff009e;
    color: #CBB2FF;
}
a{
    text-decoration: none;
    color: inherit;
}
#container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}